*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: Quicksand, sans-serif;
}

html{
   font-size: 60.5%;

}

.container{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   
   
}
.form-wrapper{
   width: 80rem;
   height: 60rem;
   background-color: lightblue;
   border-radius: 3rem;
   position: relative;
   box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  

}

.banner{
   position: absolute;
   top: 15%;
   left: -30rem;
   text-align: center;
   color: #fff;
   width: 30%;
   z-index: 100;
   transition: left 0.9s;
   
}

.container.change .banner{
   left: 3rem;
}
.banner h1{
   font-size: 3rem;
   margin-bottom: 2rem;
}
.banner p{
   font-size: 1.5rem;
}
.green-bg{
   width: 100%;
   height: 100%;
   border-radius: 1rem;
   background: linear-gradient(to right, rgb(18, 169, 68), rgb(96, 177, 96));
   position: absolute;
   top: 0;
   left: 0;
   z-index: 50;
   transition:width 1.5s cubic-bezier(0.19, 1, 0.22, 1);

}
.container.change .green-bg{
   width:40%;
}

.green-bg button{
   position: absolute;
   top: 60%;
   left: 40%;
   transform: translateY(-50%);
   width: 14rem;
   height: 4rem;
   font-weight: 700;
   background-color: transparent;
   border: 0.1rem solid white;
   border-radius: 3rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   color: whitesmoke;
   cursor: pointer;

}
.signup-form{
   width: 80%;
   height: 100%;
   position: relative;
   top: 1rem;
   left: 0rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 10rem 0;
   transition: left 1.3s cubic-bezier(.19,1,0.22,1);
}
.container.change .signup-form{
   left: 20rem;
}
 .signup-form h1{
   font-size:3rem;
   color: rosybrown;
   position: relative;
}

.social-media{
   display: flex;
}

.social-media i{
font-size: 2rem;
width: 3rem;
height: 3rem;
border: 0.1rem solid rgb(44, 6, 134);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 2rem;
color: rgb(19, 20, 18);
}


.signup-form p{
   position: relative;
   font-size: 1.8rem;
   color: #555;
   margin-bottom: 2rem;
}


.input-group {
      position: relative;
      display: flex;
      
      align-items: center;
      width: 100%;
      left: 30%;
}


.input-group input{
   
   width: 26rem;
   height: 4rem;
   padding: 1rem 1rem 1rem 2rem;
   background-color: #ddd;
   border: none;
   border-radius: 0.5rem;
}

.input-group i{ 
   position: absolute;
   top: 50%;
   left: 0.5rem;
   transform: translateY(-50%);
   font-size: 1rem;
   color: #555;
}

.signup-form button{
   width: 10rem;
   height: 4rem;
   font-weight: 700;
   background-color: rgb(7, 56, 14);
   border: none;
   border-radius: 5rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   color: #fff;
   margin-top: 2rem;
   cursor: pointer;
} 
